body {
  font: 20pt Arial;
  text-align: center;
}

h1 {
  text-align: center;
}

.help {
  text-align: center;
  font-family: arial;
}

.centered {
  margin: 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#canvas {
  margin-left: 60px;
  border: inset 3px grey;
}
