<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/game.css"/>
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="icon" type="image/png" href="static/favicon.png">
  <link rel="apple-touch-icon" href="static/favicon.png">

  <meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
  <header>
    <h1 class="centered">Scrolling Map</h1>
  </header>
  <main>
    <div id="auth" class="centered show">
      <form id="authentication" action="">
        <label for="username">Enter a name:</label>
        <input type="text" id="username" class="centered" autofocus>
        <input type="submit" id="submit" value="Log In" class="centered">
      </form>
    </div>
    <canvas id="canvas" width="510" height="480" class="hide centered"></canvas>
    <p id="message" class="centered show"></p>
  </main>
  <script src="static/socket.io.js"></script>
  <script src="static/bundle.js"></script>
</body>
</html>
