<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/game.css"/>
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="icon" type="image/png" href="static/favicon.png">
  <link rel="apple-touch-icon" href="static/favicon.png">

  <meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
  <h1 class="centered">Scrolling Map</h1>
  <p id="message" class="centered show"></p>
  <main class="hide">
    <p class="centered help">WASD, Arrows, or click to move.</p>
    <canvas id="canvas" width="510" height="470" class="centered"></canvas>
  </main>
  <div id="auth" class="centered show">
    <form id="authentication" action="">
      <label for="username">Username:<input type="text" id="username"></label>
      <input type="submit" value="Enter">
    </form>
  </div>
  <script src="static/socket.io.js"></script>
  <script src="static/bundle.js"></script>
</body>
</html>
