<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/game.css"/>
  <link rel="shortcut icon" href="static/favicon.ico">
  <link rel="icon" type="image/png" href="static/favicon.png">
  <link rel="apple-touch-icon" href="static/favicon.png">

  <meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
  <h1>Scrolling Map</h1>
  <p class="help">WASD, Arrows, or click to move.</p>
  <canvas id="canvas" width="450" height="470"></canvas>
  <script src="static/socket.io.js"></script>
  <script src="static/bundle.js"></script>
</body>
</html>
